{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Calendarium</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<!-- Favicons -->
<link href="{% static 'images/assets/img/ist_logo.png' %}" rel="icon">
<link href="{% static 'images/assets/img/ist_logo.png' %}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'images/assets/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'images/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'images/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'images/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'images/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
<link href="{% static 'images/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'images/assets/css/style.css' %}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: FlexStart
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'images/assets/img/ist_logo.png' %}" alt="">
        <span>Calenderium</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'homepg' %}" class="active">Home</a></li>
          <li><a href="{% url 'societypg' %}" class="active">Society</a></li>
          <li class="dropdown"><a href="#"><span>Events</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'list-events' %}">All events</a></li>
              {% if user.is_authenticated %}
            <li><a href="{% url 'add-event' %}">Add Event</a></li>
            <li><a  href="{% url 'my_events' %}">My Events</a></li>
            {% endif %}

              <li><a href="{% url 'search_events' %}">Search events</a></li>
            </ul>

          </li>
          <li class="dropdown"><a href="#"><span>Venues</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'list-venues' %}">All venues</a></li>
           {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li><a href="{% url 'add-venue' %}">Add Venue</a></li>
            {% endif %}
            {% endif %}
            </ul>
          </li>
      {% if user.is_authenticated %}

      {% if user.is_superuser %}
          <li><a href="{% url 'admin_approval' %}">Admin</a></li>
                  {%endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'register_user' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
                  {% endif %}
          <li><a href="{% url 'coming_soon' %}"class="getstarted">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer you to experience these eqxuisite moments with us</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We invite you to IST ,to jin us in these heartwarming events</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'images/assets/img/event5.webp' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Recent</h3>
              <h2>Exploring the Cosmos: IST University Hosts Thrilling Space Week in Collaboration with its Vibrant Societies</h2>
              <p> From captivating lectures by renowned astronomers to enthralling stargazing sessions, the event offered a journey into the mysteries of the cosmos, igniting curiosity and fostering a deep appreciation for the wonders of space exploration
              Together, IST societies united to create an unforgettable experience, inspiring students to reach for the stars and pursue their own astronomical dreams.
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'images/assets/img/event4.jpg' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>About Societies</h2>
          <p>Societies at IST University:</p>
          <h1>Embracing Diversity, Inspiring Connections</h1>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <img src="{% static 'images/assets/img/society_logo1.jpg' %}"
	        style="object-fit:scale-down;
            width:200px;
            height:300px;
           "/>
              <h3>Sports Club</h3>
              <p>Join IST University's Sports Club for thrilling competition and a vibrant sports community that promotes physical well-being and teamwork</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <img src="{% static 'images/assets/img/socirty_logo2.jpg' %}"
	        style="object-fit:scale-down;
            width:200px;
            height:300px;
           "/>
              <h3>Youth Club</h3>
              <p>Ignite your passion, make lifelong friendships, and explore exciting opportunities for personal growth and development within the dynamic Youth Club at IST University.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <img src="{% static 'images/assets/img/society_logo3.png' %}"
	        style="object-fit:scale-down;
            width:200px;
            height:300px;
           "/>
              <h3>Adventure Club</h3>
              <p> Embark on thrilling expeditions and exhilarating outdoor experiences with the Adventure Club, where daring souls unite to create unforgettable memories amidst nature's wonders.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
              <img src="{% static 'images/assets/img/society_logo4.jpg' %}"
	        style="object-fit:scale-down;
            width:200px;
            height:300px;
           "/>
              <h3>Art Club</h3>
              <p>Unleash your creativity and join the vibrant Art Club, where artistic expression thrives and imagination knows no bounds./p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <img src="{% static 'images/assets/img/society_logo6.jpg' %}"
	        style="object-fit:scale-down;
            width:200px;
            height:300px;
           "/>
              <h3>Reading Club</h3>
              <p>Immerse yourself in captivating stories and thought-provoking discussions as part of the Reading Club, where book lovers come together to share literary journeys.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
              <img src="{% static 'images/assets/img/society_logo7.jpg' %}"
	        style="object-fit:scale-down;
            width:200px;
            height:300px;
           "/>
              <h3>Cultural club</h3>
              <p>Celebrate diversity and embrace cultural richness with the Cultural Club, where vibrant traditions, customs, and performances create a tapestry of global connections.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Services Section -->

    <!-- ======= president Section ======= -->
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Presidents of Ist Societies</h2>
          <p>Who Are they ?</p>
        </header>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  With a visionary spirit and a passion for creativity, the Art Club President leads a dynamic community of artists, inspiring innovative expressions and fostering artistic growth.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'images/assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Art Club President</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  Guiding literary enthusiasts on captivating literary journeys, the Reading Club President cultivates a love for books, discussions, and intellectual exploration among members.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'images/assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Reading Club President</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                   Embracing diversity and promoting cultural understanding, the Cultural Club President orchestrates vibrant events and showcases that celebrate the richness of different traditions and identities.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'images/assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Cultural Club President</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  Empowering young minds and nurturing leadership potential, the Youth Club President creates opportunities for personal growth, community engagement, and impactful initiatives.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'images/assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Youth Club President</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  Fueling the spirit of adventure and exploration, the Adventure Club President leads exhilarating expeditions, fostering a love for outdoor experiences and a sense of adventure among fellow members.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'images/assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Adventure Club President</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Calendarium Team</h2>
          <p>Our Hard Working team</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'images/assets/img/a.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Laraib Khalid</h4>
                <span>Front end Developer</span>
                <p>With a keen eye for design and expertise in coding,Laraib crafts captivating interfaces that bring events to life. His passion for creating intuitive web experiences shines through in every line of code.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'images/assets/img/b.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Laiba Qayoom</h4>
                <span>Back end Developer</span>
                <p> the skilled Back-End Developer powering the robust functionality of Calendarium. With a deep understanding of databases, server-side programming, and system architecture, Laiba ensures the smooth operation of the website</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'images/assets/img/e.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sundas Fatima</h4>
                <span>Wed Designer</span>
                <p>the talented Web Designer who adds a touch of creativity and aesthetics to the visual appeal of Calendarium. Her innovative approach in UX/UI design result in visually stunning user experience</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'images/assets/img/d.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Laiba Ehsan</h4>
                <span>Web Manager</span>
                <p>the dedicated Web Manager responsible for the smooth operation and maintenance of Calendarium and providing a reliable platform for event management at IST University.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Events</h2>
          <p>Recent events conducted</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{% static 'images/assets/img/event1.jpg' %}" class="img-fluid" alt=""></div>
              <span class="post-date">Tue, September 15</span>
              <h3 class="post-title">Graduation of most recent batch of Space Science in IST</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{% static 'images/assets/img/event2.jpg' %}" class="img-fluid" alt=""></div>
              <span class="post-date">Fri, August 28</span>
              <h3 class="post-title">Best Space Week,arrangements occured all thanks to IST society members</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{% static 'images/assets/img/event3.jpg' %}" class="img-fluid" alt=""></div>
              <span class="post-date">Mon, July 11</span>
              <h3 class="post-title">Top two Basketball Teams at the finals of inter departmemtal matches</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'images/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'images/assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'images/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'images/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'images/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'images/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'images/assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'images/assets/js/main.js' %}"></script>

</body>
